[Unit]
Description=Bazinga API (production)
After=network.target

[Service]
WorkingDirectory=/var/www/bazinga-prod/api
ExecStart=/usr/bin/dotnet /var/www/bazinga-prod/api/BazingaComics.Api.dll
Restart=always
RestartSec=5
KillSignal=SIGINT
SyslogIdentifier=bazinga-api-prod
User=deploy
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://0.0.0.0:5000
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target
